<div class="products">
    {{#each products}}

    <div class="theproduct">

        <a href="/producto/{{name}}">
    
        </a>
        <a href="/producto/{{name}}">
        <h2><{{name}}/h2>
        </a>


    </div>

    {{/each}}
</div>