/*---------------Estilos del header-----------------------*/


.header{
    height: 60px;
    background: white;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
}

/*---------------Estilos del nav----------------*/

.logo img {
    width: 60px;
    margin: 5px;
    margin-left: 40px;
}

.menu {
    display:flex;
    list-style: none;
    margin-right: 40px;
   
}

.menu img{
    top: 15px;

}

.menu__link {
    color: #ED6D00;
    text-decoration: none;
    padding: 20px;
}


.menu__link:hover {
    color: black;
}

.shopping_counter {
    color: black;
    font-size: 60px;
}


/*----------------Estilos del banner-----------------*/

