/* body {
    background: blueviolet;
} */

/* estilos del card de productos */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    width: 250px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.image_product{
width: 200px;
height: 200px;

}

.title_product{
    text-align: center;
}

.btn_product{
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color:#EC6D00;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
}